.match {
  height: 64px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  align-items: center;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #e7e7eb;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid transparent;
  margin-bottom: 28px;
  animation: openMenu 1s;

  .arrow {
    display: none;
  }

  &:hover {
    border: 1px solid #616475;

    .arrow {
      display: block;
      color: #616475;
    }
  }
}

